.App {
  .layer-conic {
    z-index: 10;
    position: fixed;
    left: calc(-100vw - 100vh + 50px);
    top: calc(-100vw - 50vh - 66px);
    width: calc(200vw + 200vh);
    height: calc(200vw + 200vh);
    background: conic-gradient(from 355deg, #010510, #6E727D 76deg, #1B1E29 136deg, #333742 204deg, #5F636E 280deg, #ABAFBA 320deg, #010510);
    // background: conic-gradient(from 355deg at 50px calc(50% - 66px), #010510, #6E727D 76deg, #1B1E29 136deg, #333742 204deg, #5F636E 280deg, #ABAFBA 320deg, #010510);
    // background: conic-gradient(from 52deg at 50px 50%, white, black 45deg, white);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1s linear;
    transform-origin: center center;
    // transform-origin: 50px calc(50% - 66px);
  }
  .layer-ameba {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/png/cell.png") 0 0 no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: opacity 1s linear;
  }
  .layer-content {
    z-index: 100;
    position: relative;
    background: pink;
  }
  .Sidebar {
    .logo {

    }
    .icons {
      z-index: 200;
      position: fixed;
      left: 50px;
      top: 50%;
      margin-left: -12px;
      margin-top: -78px;
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          display: block;
          padding: 0 0 32px;
          margin: 0;
          .icon {
            display: block;
            width: 24px;
            height: 24px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
            border: none;
            outline: none;
          }
          .icon:hover {
            cursor: pointer;
          }
          .icon-menu {
            @extend %svg-menu;
            transition: transform 1s linear;
          }
          .icon-instagram {
            @extend %svg-instagram;
          }
          .icon-mail {
            @extend %svg-mail;
          }
        }
      }
    }
  }
}
.App-menu-shown {
  .layer-conic {
    transform: rotate(90deg);
  }
  .layer-ameba {
    opacity: 0.2;
  }
  .Sidebar {
    .icons {
      .icon-menu {
        transform: rotate(90deg);
      }
    }
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
