.App {
  .layer-conic {
    z-index: 10;
    position: fixed;
    // left: calc(-100vw - 100vh + 50px);
    // top: calc(-100vw - 50vh - 66px);
    left: calc(-100vw - 100vh + 32px);
    top: calc(-100vw - 100vh + 32px);
    width: calc(200vw + 200vh);
    height: calc(200vw + 200vh);
    background: conic-gradient(from 355deg, #010510, #6E727D 76deg, #1B1E29 136deg, #333742 204deg, #5F636E 280deg, #ABAFBA 320deg, #010510);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform $menu-duration linear;
    transform-origin: center center;
  }
  @media (min-width: $tablet-min-width) {
    .layer-conic {
     left: calc(-100vw - 100vh + 100px);
     top: calc(-100vw - 50vh - 56px);
    }
  }
  @media (min-width: $desktop-min-width) {
    .layer-conic {
      left: calc(-100vw - 100vh + 200px);
      // top: calc(-100vw - 50vh - 56px);
     }
   }
  .layer-ameba {
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/png/cell.png") 0 0 no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: opacity $menu-duration linear;
  }
  .layer-content {
    z-index: 100;
    position: relative;
    // margin: 24px 16px 24px 64px;
    margin-left: 64px;
    margin-right: 16px;
    padding: 24px 0;
    .content-wrapper {
      background: pink;
    }
  }
  @media (min-width: $tablet-min-width) {
    .layer-content {
     margin-left: 164px;
     padding-top: 56px;
     .content-wrapper {
      margin: 0 auto;
      max-width: 800px;
      background: yellow;
     }
    }
  }
  @media (min-width: $desktop-min-width) {
    .layer-content {
      margin-left: 132px;
      .content-wrapper {
        background: lightgreen;
      }
    }
  }
}
.App-menu-shown {
  .layer-conic {
    transform: rotate(90deg);
  }
  .layer-ameba {
    opacity: 0.2;
  }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
