.Page {
 .head {
  display: flex;
  justify-content: space-between;

  .bc {
   color: #FFFFFF;
   font-size: 15px;

   .section {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 32px;
   }

   .neighbors {
    display: none;

    ul {
     list-style: none;
     margin: 0;
     padding: 8px 0 0;

     li {
      display: inline-block;
      letter-spacing: 0;
      line-height: 32px;
      margin-right: 32px;

      a {
       color: inherit;
       text-decoration: none;
       opacity: .4;
       transition: all $hover-duration linear;
      }

      a:hover {
       opacity: 1;
      }
     }

     li.selected {
      border-bottom: 1px #00FB99 solid;

      a {
       opacity: 1;
      }
     }
    }
   }

   @media (min-width: $tablet-min-width) {
    .neighbors {
     display: block;
    }
   }
  }

  .ac {
   margin-top: -4px;

   button {
    font-size: 15px;
    line-height: 38px;
    color: #FFF;
    padding: 0 24px;
    background: none;
    border: 1px #fff solid;
    cursor: pointer;
    transition: all $hover-duration linear;
   }

   button:hover {
    opacity: .9;
   }

   button:disabled {
    cursor: not-allowed;
    opacity: .4;
   }
  }

  .blazon {
   width: 140px;
   height: 140px;
   background: url("../assets/png/LF_logo.png") 0 0 no-repeat;
   background-size: contain;

   @media (min-width: $tablet-min-width) {
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 201;
    left: 100px - 32px;
    top: 47px;
   }

   @media (min-width: $desktop-min-width) {
    width: 140px;
    height: 140px;
    left: 200px - 70px;
   }
  }
 }

 .body {
  padding: 64px 0 0;
  color: #FFF;
  font-size: 15px;
  font-weight: 300;

  h1 {
   font-weight: 100;
   font-size: 24px;
   line-height: 33px;
   padding: 0;
   margin: 0;
  }

  p {
   margin: 0;
   padding: 28px 0 0;
   line-height: 28px;
  }

  ul,
  ol {
   margin: 0 0 0 32px;
   padding: 28px 0 0;
  }

  hr {
   margin-top: 28px;
  }

  a {
   color: #00FB99;
   text-decoration: none;
   transition: all $hover-duration linear;
  }

  a:hover {
   opacity: .6;
  }

  .wideImg {
   padding: 28px 0 0;

   .image-gallery-icon {
    opacity: .6;
    transition: all $menu-duration linear;

    .image-gallery-svg {
     width: 30px;
     height: 60px;
    }
   }

   .image-gallery-icon:hover {
    color: #00FB99;
   }

   .image-gallery-bullets .image-gallery-bullet {
    opacity: .6;
   }

   .image-gallery-bullets .image-gallery-bullet:hover {
    opacity: 1;
    background: #00FB99;
    border: 1px solid #00FB99;
   }

   .gallery-nav {
    color: #fff;
    transition: all 0.3s ease-out;
    appearance: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 4;
    // filter: drop-shadow(0 2px 2px #1a1a1a);
   }

   .gallery-nav-left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
   }

   // img {
   //  max-width: 100%;
   // }
  }
 }

 ul.gallery {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
   padding: 0 0 32px;
   margin: 0;

   a {
    display: block;
   }

   a:hover {
    opacity: 1;

    // div.thumb {
    //  background-position: left top;
    // }
    div.thumb {
     div.thumb-img {
      left: -16px;
      top: -16px;
      right: -16px;
      bottom: -16px;
     }
    }

    div.name {
     opacity: 1;
    }
   }

   div.thumb {
    position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, .2);
    @extend %svg-logo40;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all $hover-duration linear;

    .thumb-img {
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     transition: all $hover-duration ease-in-out;
    }
   }

   div.name {
    padding-top: 8px;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    opacity: .6;
    transition: all $hover-duration linear;
   }

   label.checkbox {
    display: inline-block;
    padding-top: 8px;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    opacity: .6;

    input {
     vertical-align: middle;
    }

    span {
     vertical-align: middle;
     margin-left: 4px;
    }
   }
  }

  li.selected {
   .thumb {
    background-color: #0000ff66;
   }
  }
 }

 @media (min-width: $gallery-2cols-width) {
  ul.gallery {
   margin-left: -40px;
   display: flex;
   flex-wrap: wrap;

   li {
    box-sizing: border-box;
    width: 50%;
    padding-left: 40px;
   }
  }
 }

 @media (min-width: $gallery-3cols-width) {
  ul.gallery {
   li {
    width: 33.33%;
   }
  }
 }
}

.PageFade-enter {
 opacity: 0;
 transform: scale(0.9);
}

.PageFade-enter-active {
 opacity: 1;
 transform: translateX(0);
 transition: opacity 400ms;
}

.PageFade-exit {
 opacity: 1;
}

.PageFade-exit-active {
 opacity: 0;
 transform: scale(0.9);
 transition: opacity 400ms;
}