.Page {
 .head {
  display: flex;
  justify-content: space-between;
  .bc {
   color: #FFFFFF;
   font-size: 15px;
   font-weight: 300;
   letter-spacing: 0;
   line-height: 32px;
   a {
    color: inherit;
    text-decoration: none;
   }
   a: hover {}
  }
  .blazon {
   width: 140px;
   height: 140px;
   background: url("../assets/png/LF_logo.png") 0 0 no-repeat;
   background-size: contain;
   @media (min-width: $tablet-min-width) {
    width: 64px;
    height: 64px;
    position: fixed;
    z-index: 201;
    left: 100px - 32px;
    top: 47px;
   }
   @media (min-width: $desktop-min-width) {
    width: 140px;
    height: 140px;
    left: 200px - 70px;
   }
  }
 }
 .body {
  padding: 64px 0 0;
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  h1 {
   font-weight: 100;
   font-size: 24px;
   line-height: 33px;
   padding: 0;
   margin: 0;
  }
  p {
   margin: 0;
   padding: 28px 0 0;
   line-height: 28px;
  }
  ul, ol {
   margin: 0 0 0 32px;
   padding: 28px 0 0;
  }
  hr {
   margin-top: 28px;
  }
  a {
   color: #00FB99;
   text-decoration: none;
   transition: all $hover-duration linear;
  }
  a:hover {
   opacity: .6;
  }
 }
}
