@use "sass:math";
// math.div in sass

$tablet-min-width: 640px;
$desktop-min-width: 1280px;

$hover-duration: 250ms;
$menu-duration: 350ms;

$gallery-2cols-width: 440px;
$gallery-3cols-width: 800px;

$video-w: 720;
$video-h: 1280;
$video-aspect: math.div(720, 1280);

$tablet-album-min-height: 360px;
